html{
    background-color:  	#1c1c1c;


}

body {
    background-color: #1c1c1c ;

}


h1{
    color: 	red;
    font-family: 'Raleway Dots', cursive;
    font-size: 54px;
    font-weight: 10;
}

#red {
    color: grey;
    position: absolute;
    bottom: 5000px;
    right: 532px;
    font-size: 60px;

}

#github {
 position: relative;
 width: 90px;
 right: -95%;
 top: -90%;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
  }
  
  .grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  .grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  /* Just to make the grid visible */
  
  .grid > * {
    background: #1c1c1c;
    border: 1px white solid;
    /* TODO ANIMATION and kEYFRAMES */
  